# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
aws-sam-translator==1.39.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
boto3==1.18.0
botocore==1.21.0
certifi==2023.11.17
cffi==1.16.0
cfn-lint==0.54.4
charset-normalizer==3.3.2
colorama==0.4.4
comm==0.2.1
cursor==1.3.4
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
docopt==0.6.2
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
fqdn==1.5.1
halo==0.0.29
idna==3.6
importlib-metadata==7.0.1
ipykernel==6.29.0
ipython==8.12.3
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==0.10.0
json5==0.9.14
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
junit-xml==1.9
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.11
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
log-symbols==0.0.14
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
mistune==3.0.2
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==2.5.1
notebook==7.0.7
notebook_shim==0.2.3
numpy==1.22.3
overrides==7.6.0
packaging==23.2
pandas==1.4.2
pandocfilters==1.5.1
parquet-tools==0.2.10
parso==0.8.3
pickleshare==0.7.5
pipreqs==0.5.0
platformdirs==4.1.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pyarrow==7.0.0
pycparser==2.21
pydot==1.4.2
Pygments==2.17.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.1
pywin32==306
pywinpty==2.0.12
PyYAML==5.4.1
pyzmq==25.1.2
referencing==0.32.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
s3transfer==0.5.0
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
spinners==0.0.24
stack-data==0.6.3
tabulate==0.8.9
termcolor==1.1.0
terminado==0.18.0
thrift==0.13.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.4
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
uri-template==1.3.0
urllib3==1.26.6
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
yarg==0.1.9
zipp==3.17.0
